/* src/App.css */
.app-container {
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.app-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.controls-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  z-index: 1000;
}

.control-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 0.15s, background-color 0.15s;
  cursor: pointer;
  font-weight: bold;
}

.control-button:hover {
  transform: scale(1.05);
}

.btn-bus-stop {
  background-color: #3b82f6;
  /* blue-500 */
  color: white;
}

.btn-bus-stop:hover {
  background-color: #2563eb;
  /* blue-600 */
}

.btn-bus {
  background-color: #facc15;
  /* yellow-400 */
  color: white;
  /* slate-800 */
}

.btn-bus:hover {
  background-color: #eab308;
  /* yellow-500 */
}

.btn-text {
  background-color: #6b7280;
  /* gray-500 */
  color: white;
}

.btn-text:hover {
  background-color: #4b5563;
  /* gray-600 */
}

.btn-background {
  background-color: #1dbf5b;
  /* gray-500 */
  color: white;
}

.btn-background:hover {
  background-color: #48a56a;
  /* gray-600 */
}

.canvas-wrapper {
  width: 90vw;
  height: 90vw;
  position: relative;
  border: 0px;
}

@media (min-width: 768px) {
  .canvas-wrapper {
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 1024px) {
  .canvas-wrapper {
    width: 40vw;
    height: 40vw;
  }
}

.canvas-background-circle {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 9999px;
  border: 4px solid #475569;
}

.canvas-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}